@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body,
textarea,
button {
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  background-color: #eff1fa;
  margin: 20px;
}

.logo-img {
  height: 48px;
  margin-bottom: 50px;
}

.text-field {
  border: none;
  border-radius: 32px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.input-text {
  font-size: 32px;
  color: #0a3871;
  background-color: #eff1fa;
}

.input-text::placeholder {
  color: #0a3871;
}

.info-container {
  display: flex;
}

.info-container p {
  font-size: 12px;
  color: #343a40;
  margin-left: 10px;
}

.output-text, .toggle {
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  font-size: 24px;
  color: #495057;
  border-radius: 32px;
  margin-bottom: 20px;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.output-text h4 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #343a40;
}

.output-text p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #495057;
}

.searching-img {
  display: none;
}

button {
  width: 330px;
  height: 60px;
  border-radius: 24px;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  font-size: 16px;
  padding: 0;
}

.encrypt-btn {
  background: #0a3871;
  color: #ffffff;
}

.decrypt-btn {
  color: #0a3871;
  border: 1px solid #0a3871;
  background-color: #eff1fa;
}

.copy-btn {
  display: block;
  border: none;
  width: 60px;
  border-radius: 50%;
}

.copy-btn:hover {
  background: #d4dbf9;
}

.copy-icon {
  height: 30px;
}

@media (min-width: 765px) {
  body {
    margin: 40px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  main {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
  }

  .main-container {
    margin: 0 40px 0 100px;
  }

  .input-text {
    height: 900px;
  }

  .buttons-container {
    justify-content: space-between;
  }

  .decrypt-btn {
    background-color: #d8dfe8;
  }

  .output-text, .toggle {
    width: 400px;
    height: 90%;
  }

  .searching-img {
    display: unset;
  }
}
