@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body,
textarea,
button {
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  background-color: #eff1fa;
  margin: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 48px;
  margin-bottom: 50px;
}

.text-field,
.text-output-field {
  border: none;
  border-radius: 32px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.input-text {
  font-size: 32px;
  color: #0a3871;
  background-color: #eff1fa;
}

.input-text::placeholder {
  color: #0a3871;
}

.info-container {
  display: flex;
}

.info-container p {
  font-size: 12px;
  color: #343a40;
  margin-left: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.output-text,
.toggle {
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  font-size: 24px;
  color: #495057;
  border-radius: 32px;
  margin-bottom: 20px;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle h4 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #343a40;
}

.toggle p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #495057;
}

.text-output-field {
  font-size: 24px;
  color: #495057;
  height: 70%;
}

.searching-img {
  display: none;
}

.decrypt-btn,
.encrypt-btn {
  width: 330px;
  height: 60px;
  border-radius: 24px;
  margin: 10px;
  border: none;
  font-size: 16px;
}

.encrypt-btn {
  background: #0a3871;
  color: #ffffff;
}

.decrypt-btn {
  color: #0a3871;
  border: 1px solid #0a3871;
  background-color: #eff1fa;
}

.copy-btn {
  border: none;
  width: 60px;
  border-radius: 50%;
}

.copy-btn:hover {
  background: #d4dbf9;
}

.copy-icon {
  height: 30px;
}

@media (min-width: 765px) {
  body {
    margin: 40px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  main {
    display: flex;
    justify-content: center;
    height: 90vh;
  }

  .main-container {
    margin: 0 40px 0 80px;
  }

  .input-text {
    height: 800px;
    width: 700px;
  }

  .buttons-container {
    justify-content: space-between;
    margin: 0;
  }

  .output-text,
  .toggle {
    width: 350px;
    height: 90%;
  }

  .searching-img {
    display: unset;
  }
}
